@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0;}

ul,ol,li{list-style: none;}

/* 테스트용 형제/자식/후손 선택자의 차이 알기! */
body>div {
    margin: 50px;
}
/* body+div {border: 1px solid #000;} */
/* body div {border: 1px solid #000;} */

/* common */
body, code {
    font-size: 13px;
    font-family: Arial,"Apple SD Gothic Neo","Noto Sans KR","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
    color: #000;
    background: #fff;
}

/* product-listmain */

/* 
커먼셀렉트를 
1) 뷰티의 베스트 아이템처럼 변경 
: 관리자 설정과 상관 없이 .icon_box 나오지 않도록
: .icon_box 아래에서 위로 자연스럽게 표시
2) 마일드의 마우스 오버 시 박스 그림자 표시되도록 변경 : 썸네일 Box-shadow 
*/

.ec-base-product{}
.ec-base-product .prdList{
    /* li를 display: inline-block;으로 설정할 때 생기는 여백을 없애기 위해 */
    font-size: 0;
    line-height: 0;
}
/* 
.ec-base-product .prdList li : prdList 후손 중 모든 li ?
.ec-base-product .prdList > li prdList 자식 중 모든 li ? 
*/
.ec-base-product .prdList > li{
    border: 1px solid #000; /* test */
    display: inline-block; /* li 옆에 다른 li가 오도록 하기 위해 (inline-block은 불필요한 여백이 생길 수 있다 */
    /* .ec-base-product .prdList 의 여백 제거를 위해 글자크기와 높이 0으로 해둔 것을 되돌려놓음 (글자가 보이도록 하기 위해서) */
    font-size: 13px;
    line-height: 1;
    overflow: hidden;
}

/* 메인분류 상품목록 단처리 */
.ec-base-product .prdList.grid2 li{width: 50%;}
.ec-base-product .prdList.grid3 li{width: 33.33%;}
.ec-base-product .prdList.grid4 li{width: 25%;}
.ec-base-product .prdList.grid5 li{width: 20%;}

.ec-base-product .prdList .prdList__item{
    margin: 10px;
    position: relative; /* .description의 기준요소 */
}


/* thumbnail */
.ec-base-product .prdList .thumbnail{
    border: 1px solid #f00; /* test */
    position: relative; /* absolute의 기준요소 */
}

/* 
hover 시 box-shadow 
*/
.ec-base-product .prdList .prdList__item:hover .thumbnail{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.ec-base-product .prdList .thumbnail>a{
    display: block;
}
.ec-base-product .prdList .thumbnail>a>img{
    display: block; /*썸네일 여백 제거*/
    /* max-width: 100%; */
    width: 100%;
}


/* likebutton */
.ec-base-product .prdList .thumbnail .likeButton::before{
    content: "Like";
    font-size: 12px;
    display: block;
    line-height: 1;
}
.ec-base-product .prdList .thumbnail .likeButton{
    border: 1px solid #00f; /* test */
    position: absolute; /* 기준요소 설정 필요함 */
    left: 5%; top: 4%;
    width: 40px; height: 40px; /* like 텍스트와 count 숫자가 수평 수직에 위치하도록 하기 위함 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ec-base-product .prdList .thumbnail .likeButton button{
    background-color: transparent; /* 버튼의 기본 색상을 제거 */
    border: none; /* 버튼 요소가 가지는 기본 테두리 제거 */
}
.ec-base-product .prdList .thumbnail .likeButton img{
    display: none; /* 1) */
}
.ec-base-product .prdList .thumbnail .likeButton strong{
    display: block;
    cursor: pointer;
    font-weight: normal; /* strong 태그 요소의 기본 bold 타입 제거 */
}


/* icon_box */

/* 
뷰티 베스트 아이템 따라잡기!
: 관리자 설정과 상관없이 .icon_box 표시하지 않음 (화면에 표시하지 않음)
1. display:none; => 스크린리더 X
2. opacity:0; => 스크린리더 O
3. visibility:hidden; => 스크린리더 O
*/

.ec-base-product .prdList .icon__box {
    position: absolute; /* 기준요소는 .ec-base-product .prdList .thumbnail 여기에! */
    left: 0; top: 50%;
    transform: translate(0, -50%); /* absloute에서 수직 가운데 넣는 방법 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #0f0; /* test */
}
/* .ec-base-product .prdList .icon__box:hover{} */
.ec-base-product .prdList .prdList__item:hover .icon__box {
    opacity: 1;
}
.ec-base-product .prdList .icon__box >span {
    box-sizing: border-box;
    display: block;
    position: relative; /* .ec-base-product .prdList .icon__box >span img 의 기준요소가 됨 */
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px 15px;
    min-width: 74px;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-family: "Noto Sans KR",sans serif;
    text-align: center;
    cursor: pointer;
}

/* 기능요구
mouseout(mouseleave): 회색 검정글
mouseover(hover): 테두리 검정 배경, 흰색 글
 */
 .ec-base-product .prdList .icon__box >span:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
 }

.ec-base-product .prdList .icon__box >span img {
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    opacity: 0;
}


/* 할인율 .sale_box */
.ec-base-product .prdList .sale_box {
    position: absolute;
    right: 5%; top: 4%;
    width: 50px; height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* description */
/* 상품명은 반드시 빨강 15px 관리자화면 설정 무시 */

/* 
.description이 .thumbnail 위로 겹쳐져서 표시되도록!
*/
.ec-base-product .prdList .description{
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
    /* 여기서부터 수정 내용 추가 */
    position: absolute;
    left: 0; bottom: 0; top: auto;
    transform: translate(0, 100%); /* 본인의 크기만큼(100%) y축으로 내려가랏! */
    width: 100%;
    padding: 5% 5% 3% 5%;
    background-color: rgba(255,255,255,0.5);
    box-sizing: border-box;
    border: 1px solid #00f; /* test */
    transition: transform 0.1s;
}
/* .description 위치 변경 */
.ec-base-product .prdList .prdList__item:hover .description{
    transform: translate(0 , 0);
    transition: transform 0.3s;
}

.ec-base-product .prdList .description .name a{
    text-decoration: none;
}
/* inline style 무시할 때 */
.ec-base-product .prdList .description .name .title+span{
  color: #f00 !important;  
  font-size: 15px !important;
}
/* 인접형제 구분자 */
  .ec-base-product .prdList .description .spec{}
.ec-base-product .prdList .description .spec li{}
.ec-base-product .prdList .description .icon{}
.ec-base-product .prdList .description .icon img{}