@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin: 0; padding: 0;}

ul,ol,li{list-style: none;}

/* 테스트용 형제/자식/후손 선택자의 차이 알기! */
body>div {
    margin: 50px;
}
/* body+div {border: 1px solid #000;} */
/* body div {border: 1px solid #000;} */

/* common */
body, code {
    font-size: 13px;
    font-family: Arial,"Apple SD Gothic Neo","Noto Sans KR","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
    color: #000;
    background: #fff;
}

/* product-listmain */

/* html 구조
<div class="ec-base-product xans-product-listmain">
    <ul class="prdList grid4"> : 몇단으로 할 건지에 대한 클래스명
        <li>
            <div class="prdList__item">
                 <div class="thumbnail"> 
*/

.ec-base-product{}
.ec-base-product .prdList{
    /* li를 display: inline-block;으로 설정할 때 생기는 여백을 없애기 위해 */
    font-size: 0;
    line-height: 0;
}
.ec-base-product .prdList li{
    border: 1px solid #000; /* test */
    display: inline-block; /* li 옆에 다른 li가 오도록 하기 위해 (inline-block은 불필요한 여백이 생길 수 있다 */
    /* .ec-base-product .prdList 의 여백 제거를 위해 글자크기와 높이 0으로 해둔 것을 되돌려놓음 (글자가 보이도록 하기 위해서) */
    font-size: 13px;
    line-height: 1;
}

/* 메인분류 상품목록 단처리 */
.ec-base-product .prdList.grid2 li{width: 50%;}
.ec-base-product .prdList.grid3 li{width: 33.33%;}
.ec-base-product .prdList.grid4 li{width: 25%;}
.ec-base-product .prdList.grid5 li{width: 20%;}

.ec-base-product .prdList .prdList__item{
    margin: 0 10px;
}

/*  
<div class="prdList__item">
    <div class="thumbnail">
        <a href=""><img src="./assets/images/상품이미지.png" alt=""></a>
        <div class="likeButton likePrd"> 
*/
/* 
이미지 너비 고정? 이미지의 너비가 부모의 너비를 따르도록하는 방법 *반응형 이미지* : .ec-base-product .prdList .thumbnail>a>img
1. 원래 이미지 보다 커지지 않으면서 부모의 너비를 따르도록 하는 방법
max-width: 100%;
2. 무조건 부모의 너비를 따르도록 하는 방법
width: 100%;
*/
.ec-base-product .prdList .thumbnail{
    border: 1px solid #f00; /* test */
    position: relative; /* absolute의 기준요소 */
}
.ec-base-product .prdList .thumbnail>a{}
.ec-base-product .prdList .thumbnail>a>img{
    /* max-width: 100%; */
    width: 100%;
}


/* 
 <div class="likeButton likePrd">
    <button>
        <img src="" alt="">
        <strong>
            <span class="likeProCount"></span>
        </strong>
    </button>
</div>
*/

/* 
.likeButton 에 요구된 기능 조건
1) 기존의 likeButton에 지정된 이미지는 표시하지 않고, => .likeButton img (보이지 않게 하는 방법 display:none;)
2) 그 자리에 Like 텍스트를 표시할 것
3) Like 텍스트 밑에 좋아요 누적 수가 표시될 것 => .likeButton strong
*/
.ec-base-product .prdList .thumbnail .likeButton::before{
    content: "Like";
    font-size: 12px;
    display: block;
    line-height: 1;
}
.ec-base-product .prdList .thumbnail .likeButton{
    border: 1px solid #00f; /* test */
    position: absolute; /* 기준요소 설정 필요함 */
    left: 5%; top: 4%;
    width: 40px; height: 40px; /* like 텍스트와 count 숫자가 수평 수직에 위치하도록 하기 위함 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ec-base-product .prdList .thumbnail .likeButton button{
    background-color: transparent; /* 버튼의 기본 색상을 제거 */
    border: none; /* 버튼 요소가 가지는 기본 테두리 제거 */
}
.ec-base-product .prdList .thumbnail .likeButton img{
    display: none; /* 1) */
}
.ec-base-product .prdList .thumbnail .likeButton strong{
    display: block;
    cursor: pointer;
    font-weight: normal; /* strong 태그 요소의 기본 bold 타입 제거 */
}






/* 
<div class="icon__box">
    <span class="wish">
       <img src="/web/upload/icon_202201241816315200.png">
       wish
    </span>
     <span class="cart">
         <img src="/web/upload/icon_202201241812549900.png">
         cart
    </span>
    <span class="option">
        <a onclick="optionPreview(this,'listmain-1',23,'T')" "="">
           <img src="/web/upload/icon_202201241816160100.png">
        option
        </a>
    </span> 
</div>
*/
.ec-base-product .prdList .icon__box {
    border: 1px solid #0f0;
    position: absolute; /* 기준요소는 .ec-base-product .prdList .thumbnail 여기에! */
    left: 0; top: 50%;
    transform: translate(0, -50%); /* absloute에서 수직 가운데 넣는 방법 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.ec-base-product .prdList .icon__box >span {
    display: block;
    position: relative; /* .ec-base-product .prdList .icon__box >span img 의 기준요소가 됨 */
    border: 1px solid #999;
    font-weight: 500px;
    padding: 10px 15px;
    margin: 0 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    
}
.ec-base-product .prdList .icon__box >span.wish {}
.ec-base-product .prdList .icon__box >span.cart {}
.ec-base-product .prdList .icon__box >span.option {}
.ec-base-product .prdList .icon__box >span img {
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    opacity: 0;
}
.ec-base-product .prdList .icon__box >span.wish img {}
.ec-base-product .prdList .icon__box >span.cart img {}
.ec-base-product .prdList .icon__box >span.option img {}